
 task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Free Trial(cbb58e5f-e25f-43fe-93d1-89c7f2e09d56)'
    subscriptionId: 'cbb58e5f-e25f-43fe-93d1-89c7f2e09d56'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'csvk'
    location: 'Central US'
    templateLocation: 'URL of the file'
    csmFileLink: '$(artifactsLocation)WebSite.json$(artifactsLocationSasToken)'
    deploymentMode: 'Validation'